{% extends "base.html" %}
{% block content %}
  <div id="w">
    <div id="content">
      <h1>Welcome to the service!</h1>
      <p>This app intended for views your networks friends. On map you may see your friends in cities where they live.</p>
      <center><a href="#loginmodal" class="flatbtn" id="modaltrigger">Login</a></center>
    </div>
  </div>

  <div id="loginmodal" style="display:none;">
    <h1>User Login</h1>
    <form id="loginform" name="loginform" method="post" action="home.html">
      <a href="http://oauth.vk.com/authorize?client_id={{ vk_key }}&display=page&scope=notify,friends,status,&redirect_uri={{ vk_redirect_url }}"><img src="/static/vk.jpg"></a>
    </form>
  </div>

<script type="text/javascript">
$(function(){
  $('#loginform').submit(function(e){
    return false;
  });

  $('#modaltrigger').leanModal({ top: 110, overlay: 0.45, closeButton: ".hidemodal" });
});
</script>
{% endblock %}