{% extends "base.html" %}
{%- block head -%}
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Map - Friends on map</title>
{%- endblock -%}

{%- block content -%}
    <img src="http://maps.googleapis.com/maps/api/staticmap?center={{ address }}
    &zoom=3
    &size=600x300
    &markers=icon:{{ photo }}
    &markers=size:mid%7Ccolor:red%7CКиев,Ukraine%7CХарьков,Ukraine
    &scale=2
    &key=AIzaSyCvlqGS5GcOZ2uLz7LsSdSSL6dFSMSnk8w&sensor=false">
{%- endblock -%}